a.button:focus,
a.button:hover {
  text-decoration: none;
}
.overlay-enter.overlay-enter button,
.overlay-exit-active.overlay-exit-active button,
.stage-appear.stage-appear button,
.stage-appear.stage-appear .button,
.stage-enter.stage-enter button,
.stage-enter.stage-enter .button,
.stage-exit-active.stage-exit-active.stage-exit-active button,
.stage-exit-active.stage-exit-active.stage-exit-active .button,
.stage-enter-done .card-enter button,
.stage-enter-done .card-enter .button,
.stage-enter-done
  .card-exit-active.card-exit-active
  button
  .stage-enter-done
  .card-exit-active.card-exit-active
  .button {
  box-shadow: none;
  background-color: transparent;
  color: transparent;
  transition:
    background-color 200ms,
    box-shadow 200ms,
    color 200ms;
}
button,
.button,
button:active:active,
.button:active:active,
.overlay-enter-active.overlay-enter-active button,
.stage-appear-active.stage-appear-active button,
.stage-appear-active.stage-appear-active .button,
.stage-enter-active.stage-enter-active button,
.stage-enter-active.stage-enter-active .button,
.stage-enter-done .card-enter-active.card-enter-active button,
.stage-enter-done .card-enter-active.card-enter-active .button {
  background-color: #d0b2c0;
  color: #282225;
}
button.button-primary,
.button.button-primary,
button.button-primary:active:active,
.button.button-primary:active:active,
.stage-appear-active.stage-appear-active button.button-primary,
.stage-appear-active.stage-appear-active .button.button-primary,
.stage-enter-active.stage-enter-active button.button-primary,
.stage-enter-active.stage-enter-active .button.button-primary,
.stage-enter-done .card-enter-active.card-enter-active button.button-primary,
.stage-enter-done .card-enter-active.card-enter-active .button.button-primary {
  background-color: #e7b492;
  color: #302c29;
}
button,
.button,
.stage-appear-active.stage-appear-active button,
.stage-appear-active.stage-appear-active .button,
.stage-enter-active.stage-enter-active button,
.stage-enter-active.stage-enter-active .button,
.stage-enter-done .card-enter-active button,
.stage-enter-done .card-enter-active .button {
  box-shadow:
    -0.05em -0.05em #eee6e9,
    -0.25em -0.25em 1em #e6dce0,
    0.05em 0.05em #b0a6ab,
    0.25em 0.25em 1em #b0a6ab;
  transition:
    background-color 400ms 800ms,
    box-shadow 400ms 800ms,
    color 400ms 800ms;
}
button.button-primary,
.button.button-primary,
.stage-appear-active.stage-appear-active button.button-primary,
.stage-appear-active.stage-appear-active .button.button-primary,
.stage-enter-active.stage-enter-active button.button-primary,
.stage-enter-active.stage-enter-active .button.button-primary,
.stage-enter-done .card-enter-active button.button-primary,
.stage-enter-done .card-enter-active .button.button-primary {
  box-shadow:
    -0.05em -0.05em #eee6e9,
    -0.25em -0.25em 1em #e6dce0,
    0.05em 0.05em #af9f93,
    0.25em 0.25em 1em #b0a6ab;
}
button.button-stub,
.button.button-stub,
.overlay-enter-active button.button-stub,
.stage-appear-active.stage-appear-active button.button-stub,
.stage-appear-active.stage-appear-active .button.button-stub,
.stage-enter-active.stage-enter-active button.button-stub,
.stage-enter-active.stage-enter-active .button.button-stub,
.stage-enter-done .card-enter-active button.button-stub,
.stage-enter-done .card-enter-active .button.button-stub {
  box-shadow:
    -0.05em -0.05em #eee6e9,
    -0.05em -0.05em 0.2em #e6dce0,
    0.05em 0.05em #b0a6ab,
    0.05em 0.05em 0.2em #b0a6ab;
}
.overlay-enter-done button,
.stage-appear-done button,
.stage-appear-done .button,
.stage-enter-done button,
.stage-enter-done .button,
.stage-enter-done .card-enter-done button,
.stage-enter-done .card-enter-done .button {
  transition:
    background-color 50ms,
    box-shadow 50ms,
    color 50ms;
}
button,
.button {
  cursor: pointer;
}
button,
.button {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
button:focus,
.button:focus,
button:hover,
.button:hover {
  background-color: #d4bcc8;
  color: #433c3f;
  outline: none;
}
button.button-primary:focus,
.button.button-primary:focus,
button.button-primary:hover,
.button.button-primary:hover {
  background-color: #ffcba8;
  color: #504b48;
}
button:active,
.button:active {
  box-shadow:
    -0.05em -0.05em #b0a6ab,
    -0.1em -0.1em 0.4em inset #e6dce0,
    0.05em 0.05em #eee6e9,
    0.1em 0.1em 0.4em inset #b0a6ab;
}
button.button-primary:active,
.button.button-primary:active {
  box-shadow:
    -0.05em -0.05em #b0a6ab,
    -0.1em -0.1em 0.4em inset #ffcba8,
    0.05em 0.05em #eee6e9,
    0.1em 0.1em 0.4em inset #af9f93;
}
button.button-stub:active,
.button.button-stub:active {
  box-shadow:
    -0.05em -0.05em #b0a6ab,
    -0.02em -0.02em 0.08em inset #e6dce0,
    0.05em 0.05em #eee6e9,
    0.02em 0.02em 0.08em inset #b0a6ab;
}
button.button-add::before,
.button.button-add::before {
  content: '+';
}
button.button-close::before,
.button.button-close::before {
  content: '\d7';
}
