.stage-appear article,
.stage-enter article,
.stage-exit-active.stage-exit-active article,
.card-enter article,
.card-exit-active article,
footer.stage-enter {
  box-shadow: none;
  color: transparent;
  text-shadow: none;
  transition:
    box-shadow 200ms,
    color 200ms,
    text-shadow 200ms;
}
article,
.stage-appear-active article,
.stage-enter-active article,
.card-enter-active article,
footer,
footer.stage-enter-active {
  box-shadow:
    -0.05em -0.05em var(--color-specular),
    -0.5em -0.5em 2em var(--color-highlight),
    0.05em 0.05em var(--color-shadow),
    0.5em 0.5em 2em var(--color-shadow);
  color: inherit;
  text-shadow:
    -0.05em -0.05em 0.05em var(--color-specular),
    0.05em 0.05em 0.05em var(--color-shadow);
  transition:
    box-shadow 400ms 400ms,
    color 400ms 600ms,
    text-shadow 400ms 600ms;
}
article {
  overflow: hidden;
  margin-bottom: 3em;
  border-radius: 1em;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font:
    20px/1.5 Nunito,
    sans-serif;
}
figure {
  margin: 2em 0 1em 0;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2em;
}
footer button + button,
footer .button + button,
footer button + .button,
footer .button + .button {
  margin-left: 2em;
}
form,
h2,
p {
  margin: 1em 0;
}
.overlay-enter h1,
.overlay-enter h2,
.overlay-exit-active h1,
.overlay-exit-active h2,
.stage-appear h1,
.stage-appear h2,
.stage-enter h1,
.stage-enter h2,
.stage-exit-active h1,
.stage-exit-active h2 {
  color: transparent;
  transition: color 300ms;
}
h1,
h2,
.overlay-enter-done h1,
.overlay-enter-done h2,
.stage-appear-active h1,
.stage-appear-active h2,
.stage-enter-active h1,
.stage-enter-active h2 {
  transition: color 600ms;
}
h1,
.overlay-enter-done h1,
.stage-appear-active h1,
.stage-enter-active h1 {
  color: var(--color-text-logo);
}
h1 {
  margin: 0 1.5em 1em 0;
  font:
    3em 'Lobster Two',
    cursive;
}
h2,
.overlay-enter-done h2,
.stage-appear-active h2,
.stage-enter-active h2 {
  color: inherit;
  transition: color 600ms;
}
h2 {
  font:
    2em 'Playfair Display',
    sans-serif;
  color: var(--color-text-heading);
}
h3 {
  margin: 0.8em 0;
  font-weight: bold;
  font-size: 1.25em;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: filter 300ms;
}
aside + section {
  filter: blur(0.5em);
}
aside.overlay-exit-active + section {
  filter: none;
}
