.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font:
    20px/1.5 Nunito,
    sans-serif;
}
figure {
  margin: 2em 0 1em 0;
  text-align: center;
}
form,
h2,
p,
table {
  margin: 1em 0;
}
.overlay-enter h2,
.overlay-exit-active h2,
.stage-appear h1,
.stage-appear h2,
.stage-enter h1,
.stage-enter h2,
.stage-exit-active h1,
.stage-exit-active h2 {
  color: transparent;
  transition: color 300ms;
}
h1,
h2,
.overlay-enter-done h2,
.stage-appear-active h1,
.stage-appear-active h2,
.stage-enter-active h1,
.stage-enter-active h2 {
  transition: color 600ms;
}
h1,
.stage-appear-active h1,
.stage-enter-active h1 {
  color: var(--color-text-logo);
}
h1 {
  margin: 0 1.5em 1em 0;
  font:
    3em 'Lobster Two',
    cursive;
}
h2,
small,
.overlay-enter-done h2,
.stage-appear-active h2,
.stage-enter-active h2 {
  color: var(--color-text-heading);
}
h2 {
  font:
    2em 'Playfair Display',
    sans-serif;
}
h3 {
  margin: 0.8em 0;
  font-weight: bold;
  font-size: 1.25em;
}
.stage-appear input[type='checkbox'],
.stage-appear input[type='radio'],
.stage-enter input[type='checkbox'],
.stage-enter input[type='radio'],
.stage-exit-active input[type='checkbox'],
.stage-exit-active input[type='radio'] {
  opacity: 0;
  transition: opacity 200ms;
}
input[type='checkbox'],
input[type='radio'],
.stage-appear-active input[type='checkbox'],
.stage-appear-active input[type='radio'],
.stage-enter-active input[type='checkbox'],
.stage-enter-active input[type='radio'] {
  opacity: 1;
  transition: opacity 400ms 600ms;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: filter 300ms;
}
.stage-appear small,
.stage-enter small,
.stage-exit-active small {
  color: transparent;
  transition: color 200ms;
}
small,
.stage-appear-active small,
.stage-enter-active small {
  color: var(--color-text-heading);
  font-size: 0.8em;
  transition: color 400ms 600ms;
}
table {
  width: 100%;
}
