.timeline {
  list-style-type: none;
  margin: 0 2em 0 0;
}
.timeline li {
  display: inline-block;
}
.timeline li + li::before {
  content: '';
  display: inline-block;
  width: 2em;
  margin-bottom: -0.125em;
  height: 0.25em;
  background-color: var(--color-background-button-hover);
}
.timeline button {
  padding: 0.5em;
}
.stage-enter .timeline li.active button,
.stage-exit-active .timeline li.active button {
  background-color: transparent;
}
.timeline li.active button,
.stage-enter-active .timeline li.active button {
  background-color: var(--color-background-timeline-active-button);
}
